.header {
  /*background: #104da1;*/
  background: #3b5998;
  color: #F8F8FF;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
}

.header-logo {
  border-radius: 20px;
  margin: 3px;
  float: left;
}

.header-logo:hover {
  background: #e9ebee;
}

.header-list {
  margin-top: 25px;
  float: right;
}

.header-list > li {
  float: left;
  border-radius: 15px;
}

.header-list > li:hover {
  border: 1px solid #F8F8FF;
}

.yer_face {
  overflow: hidden;
  height: 30px;
  width: 30px;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  border-radius: 15px;
  margin-right: 5px;
}

.yer_face:hover {
  height: 31px;
  width: 31px;
  cursor: pointer;
}
