.header {
  background: #104da1;
  color: #F8F8FF;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid rgba(255, 255, 255, .2);
  border-right: 1px solid rgba(255, 255, 255, .2);
}

.header-logo {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, .2);
  font-weight: 700;
}

.header-logo:hover {
  background: blue;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid rgba(255, 255, 255, .2);
}

.header-list > li:hover {
  background: blue;
}

.yer_face {
  overflow: hidden;
  height: 30px;
  width: 30px;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  border-radius: 15px;
  margin-right: 5px;
}
