.likes_main {
  color: #2F4F4F;
  margin: 20px auto;
  border-radius: 5px;
  background: #f3f5f9;
  padding: 20px 50px;
  width: 800px;
}

.like_title {
  font-family:fantasy;
  color: #2F4F4F;
  margin-left: 10px;
}

.likes_selector {
  margin: 10px;
  color: #104da1;
  border-bottom: 3px solid #f3f5f9;
}

.likes_selector:hover {
  border-bottom: 3px solid #104da1;
}

.like_index_item {
  text-decoration: none;
  color: #2F4F4F;
  display: block;
  width: 350px;
  margin: 50px 0 50px 0;
  border-top-left-radius: 1000px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 425px;
  border-bottom-right-radius: 300px;

  -webkit-transition: all 0.3s ease, background-color 0.3s ease;
  -moz-transition: all 0.3s ease, background-color 0.3s ease;
  -o-transition: all 0.3s ease, background-color 0.3s ease;
  -ms-transition: all 0.3s ease, background-color 0.3s ease;
  transition: all 0.3s ease, background-color 0.3s ease;
}

.like_index_item:hover {
  transform: translate(8%, 0);
  cursor: pointer;
  background-color: #ADD8E6;
}

.like_index_item > img {
  display: block;
  float:left;
  height:100px;
  width: 100px;
  border-radius: 50px;
}

.like_index_item > h3 {
  margin-left: 10px;
}

.like_index_item > p {
  margin-left: 10px;
}

.active {
  border-bottom: 3px solid #104da1;
}
