button.like_button {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
  border: 5px solid #FF8300;
  font-family: sans-serif;
  font-weight: 1000;
}

button.like_button:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.15s ease-in-out;
}

button.like_button:active {
  background-color: #FF8300;
  border: 5px solid red;
}
