.main_page_area {
  position:absolute;
  top: 50px;
  left: 850px;
  text-align: center;
  color: #2F4F4F;
  margin: 20px auto;
  border-radius: 5px;
  background: #f3f5f9;
  padding: 20px 50px;
  width: 200px;
  box-shadow: 0 5px 5px #ccc;
}

/*.main_page_button {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 50%;
  font-family: inherit;
  color: white;
  background: #bc1367;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 10px 10px #4e6c8f;
  cursor: pointer;
  transform: translate(-50%, 0);
  transition: all 0.15s ease-in-out;
}*/

.main_page_button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
              0 3px 1px -2px rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);

  border: none;
  font-weight: 500;
  background: rgb(232, 232, 232);
  color:rgb(0,0,0);
  padding: 10px;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  /*transform: translate(-50%, 0);*/

  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
              background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.main_page_button:hover {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

.main_page_button:focus {
  outline: 0;
}

.main_page_button:active {
  background: rgb(189,189,189);
}
