* {margin: 0; padding: 0;}

div.list_o_matches {
  color: #2F4F4F;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 5000px;
  background: #F8F8FF;
}

ul.list_o_matches {
  list-style-type: none;
  width: 600px;
}

h3.list_o_matches {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img.list_o_matches {
  height: 100px;
  width: 100px;
  float: left;
  margin: 0 15px 0 0;
  border-radius: 50px;
}

li p.list_o_matches {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li.list_o_matches {
  display:inline-block;
  float:left;
  background: #E8E8EE;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 350px;
}

li.list_o_matches:hover {
  background: #4c7bd9;
  cursor: pointer;
}

.build_a_bridge {
  display: block;
  position:relative;
  float:left;
}
