.matches_main {
  margin: 20px auto;
  border-radius: 5px;
  background: #f3f5f9;
  padding: 30px 30px;
  width: 800px;
}

.list_o_matches {
  list-style-type: none;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.list_o_matches h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.list_o_matches li img {
  height: 100px;
  width: 100px;
  float: left;
  margin: 0 15px 0 0;
  border-radius: 50px;
}

.list_o_matches li p {
  /*font: 200 12px/1.5 Georgia, Times New Roman, serif;*/
}

.list_o_matches li {
  display:inline-block;
  background: #E8E8EE;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 350px;
}

.list_o_matches li:hover {
  background: #4c7bd9;
  cursor: pointer;
}

.build_a_bridge {
  display: block;
  position:relative;
  float:left;
}
