.sign_up {
  background: #104da1;
  width: 100%;
  font-family: lato;
  position: relative;
  color: #FFF;
}
.sign_up > header {
  background: #104da1;
  padding: 30px 20px;
  color: #F8F8FF;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}
.sign_up > label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}

.sign_up > label span {
  color: #F8F8FF;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}

.sign_up > input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccd0d9;
  background: #FFF;
  color: #636973;
}

.sign_up > button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #29d58f;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 2px 1px #07408d;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.sign_up > form .implore:hover {
  color: #474d59;
}

.guest_button {
  background-color: transparent;
  border: 2px solid #ADD8E6;
  color: #ADD8E6;
  padding: 10px;
  margin:10px;
}

.guest_button:hover {
  border: 2px solid #ff4500;
}

.sign_in_button {
  font-style: italic;
}

.sign_text {
  color: #adf121;
}

.charles {
  background-color: transparent;
}
