.visits_main {
  color: #2F4F4F;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 10000px;
  background: #F8F8FF;
}

.visits_poem {
  color: gold;
  font-family: cursive;
  text-align: center;
}

.poem_italics {
  font-style: italic;
}

.visit_title {
  font-family:fantasy;
  color: #2F4F4F;
  margin-left: 10px;
}

.datDateDoe {
  font-family: lato;
}

.visits_selector {
  margin: 10px;
  color: #104da1;
  border-bottom: 3px solid #F8F8FF;
}

.visits_selector:hover {
  border-bottom: 3px solid #104da1;
}

.visits_selector:active {
  border-bottom: 3px solid red;
}

.visit_index_item {
  /*background: #E8E8EE;*/
  text-decoration: none;
  color: #2F4F4F;
  display: block;
  /*padding: 10px;*/
  /*width: 350px;*/
  width:100%;
  height: 200px;
  margin: 0px 0 0px 0;
  border-bottom: 2px solid #ddd;
  /*border-top-left-radius: 1000px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 425px;
  border-bottom-right-radius: 300px;*/

  -webkit-transition: all 0.3s ease, background-color 0.3s ease;
  -moz-transition: all 0.3s ease, background-color 0.3s ease;
  -o-transition: all 0.3s ease, background-color 0.3s ease;
  -ms-transition: all 0.3s ease, background-color 0.3s ease;
  transition: all 0.3s ease, background-color 0.3s ease;

  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
                0 3px 1px -2px rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);

  transition: all 0.3s ease,
                box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
                background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                color 0.2s cubic-bezier(0.4, 0, 0.2, 1);*/
}

.visit_index_item:hover {
  cursor: pointer;
  background-color: #ADD8E6;
}

.visit_index_item div {
  /*position: relative;*/
  height: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  /*transform: translateY(-50%);*/

  -webkit-transition: all 0.3s ease, background-color 0.3s ease;
  -moz-transition: all 0.3s ease, background-color 0.3s ease;
  -o-transition: all 0.3s ease, background-color 0.3s ease;
  -ms-transition: all 0.3s ease, background-color 0.3s ease;
  transition: all 0.3s ease, background-color 0.3s ease;
}

.visit_index_item div:hover {
  transform: translate(8%, 0);
  cursor: pointer;
}

.visit_index_item img {
  display: block;
  float:left;
  height:150px;
  width: 150px;
  border-radius: 10px;
}

.visit_index_item span {
  position: relative;
  left: 10px;
}

.visit_index_item h3 {
  position: relative;
  margin-top: 0;
  left: 10px;
}

.visit_index_item p {
  position: relative;
  line-height: 1.5;
  color: #605f5f;
  left: 10px;
}
