.visits_main {

}

.visits_poem {
  color: orange;
  font-family: sans-serif;
}

.poem_italics {
  font-style: italic;
}

.visit_title {
  font-family:fantasy;
  color: pink;
}

.datDateDoe {
  color: yellow;
  font-family: monospace;
}
